body{
  background-color: #f5f5f5;
}

.topic{
  background-color: #fff;
}
.topic-title{
  padding: 8pt;
}
.post{
  background-color: #ffffff;
  padding: 15pt;
}
.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h2 a:active {
    color: #ffffff;
    font-size: 36pt;
    text-decoration: none;
}

td a, td a:visited, td a:active {
    color: #000;
    text-decoration: none;
}

.page-header {
    background-color: black;
    margin: 0;
    padding: 20px 20px 20px 40px;
}
h1 a {
    color: #FCA205;
    font-family: 'Lobster';
}

.user-data{
  font-weight: bold;
  text-align: center;
  border: 1px dotted #e1e2e3;
  border-radius: 20px;
}
.user-data p, img{
  margin: 0;
}
.post-content{
  padding: 15pt;
}
.post-text{
  padding: 20pt;
  background-color: #f5f5f5;
  word-wrap: break-word;
  border-radius: 10px 10px;
  min-width: 100%;
}
.post-date{

  float: right;

}
.edit-div{
  float: right;
  padding-top: 10pt;
}
.username{
  color: #0cc471;
}
.profile-image{
  width:100px; height: 100px;
  border: 1px solid #ccc;
}
.topic-title{
  font-weight: bold;
}
blockquote{
  font-size: 14px !important;
}
.post-quote{
  font-weight: bold;
}

#footer {
	/*background: #f6f6f6;*/
	padding: 30px 0;
}

#footer p {
	color: #888;
	font-size: 14px;
}

#footer a {
	color: #608dfd;
}

#footer a:hover {
	border-bottom: 2px solid #608dfd;
}

.corpo{
  min-height: 500px;
  padding-top: 25px;
}

/*---------------------blockquote-----------------*/
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic);
blockquote{
  font-size: 1.4em;
  width:100%;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 40px;
  border-left:8px solid #696969 ;
  line-height:1.6;
  position: relative;
  background:#f0f0f0;
}

blockquote::before{
  font-family:Arial;
  content: "\201C";
  color:#696969;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

/*--------------*/

.post-wrapper{
  border-bottom: 1px dotted #ccc;

}

.user-bio p{
  background-color: #fff;
  color: #696969;
  padding: 15pt;
  width: 100%;
  margin: auto;
  text-align: center;
  border-top: 1px dotted #f1f2f3;
}

.new-post-separator{
  background-color: #f1f2f3;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.quote-edit li{
  list-style-type: none;
  display: inline-block;
  padding-right: 15px;
}
