{% extends 'forum/base.html' %}
{% load widget_tweaks %}

{% block content %}
  <div class="container topic">
    <div class="">
      <h2 class="topic-title">
        {{ topic.title }}
      </h2>
    </div>
    <div class="row post">
      <div class="user-data col-md-2">
        <p>{{ topic.author }}</p>
        <img class="profile-image" src="{{ topic.author.profile.pic.url }}" alt="">
        <p>Member since {{ topic.author.date_joined|date:'d/m/Y' }}</p>
      </div>
      <div class="edit-div col-md-2">
        {% if request.user == topic.author %}
          <a class="edit-symbol" href="{% url 'edit_topic' topic_id=topic.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %}
      </div>
      <div class="post-content col-md-8">
        <p class="post-text">
          {{ topic.text }}
        </p>
        <p class="post-date">
          {% if topic.edit_date %}
            [Edited] {{ topic.edit_date }}
          {% else %}
            {{ topic.date_added }}
          {% endif %}
        </p>
      </div>
    </div>
    {% for post in posts %}
      <div class="row post">
        <div class="user-data col-md-2">
          <p>{{ post.author }}</p>
          <img class="profile-image" src="{{ post.author.profile.pic.url }}" alt="">
          <p>Member since {{ post.author.date_joined|date:'d/m/Y' }}</p>
        </div>
        <div class="post-content col-md-8">
          <p class="">
            {% if post == selected_post %}
              <form class="" action="{% url 'edit_post' post_id=post.id topic_id=topic.id %}" method="post">
                {% csrf_token %}
                {% for hidden in form.hidden_fields %}
                  {{ hidden }}
                {% endfor %}

                {% for field in form.visible_fields %}
                  <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field|add_class:'form-control' }}
                    {% for error in field.errors %}
                      <span class="help-block">{{ error }}</span>
                    {% endfor %}
                  </div>
                {% endfor %}
                <div class="form-group">
                  <button type="submit" class="btn btn-success">
                      <span class="glyphicon glyphicon-ok"></span> Save
                  </button>
                  <input type="hidden" name="next" value="{% url 'index' %}"/>
                  <a href="{% url 'topic' topic_id=topic.id %}" class="btn btn-default">Cancel</a>
                </div>
              </form>
            {% else %}
            <div class="post-text">
              {% if post.father %}
                <div><strong>{{ post.father.author }}:</strong></div>
                <blockquote>
                  {{ post.father }}
                </blockquote>
              {% endif %}
              <p>{{ post| linebreaksbr }}</p>
            </div>
            <hr>
            {% endif %}
          </p>
          <p class="post-date">
            {% if post.edit_date %}
              [Edited] {{ post.edit_date }}
            {% else %}
              {{ post.date_added }}
            {% endif %}
          </p>
          <a class="post-quote" href="{% url 'new_post' topic_id=topic.id post_id=post.id %}">Quote</a>
        </div>
        <div class="edit-div col-md-2">
          {% if request.user == post.author %}
            <a class="edit-symbol" href="{% url 'edit_post' post_id=post.id topic_id=topic.id %}"><span class="glyphicon glyphicon-pencil"></span></a>
          {% endif %}
        </div>
      </div>
    {% endfor %}
    {% if user.is_authenticated %}
      <a href="{% url 'new_post' topic_id=topic.id %}"><span class="glyphicon glyphicon-plus"></span></a>
    {% endif %}
{% endblock content %}
